* {
    background-color: rgb(48, 157, 230);
}

html {
    max-width: 100%;
    max-height: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    /* align-content: space-around; */
    justify-content: space-evenly;
}

.header-logo img{
    max-width: 200px;
    max-height: 200px;
    padding-left: 175px;
}

.socials-donate {
    display: flex;
    flex-direction: row;
    padding-left: 100px;
}

.button {
    background: rgb(228, 98, 98);
    color: white;
    min-width: 30px;
}

.river-box {
    display: flex;
    flex-direction: row;
    background-image: ;
}

.river-box img {
    width: 100%;
    height: auto;
    background-size: cover;
    margin: auto;
}

